<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.mapper.StudentMapper">
    <select id="selectCustomer" resultType="student">
        select s.*, t.teacher_name
        from student s
        join teacher t
        on s.tid=t.id
    </select>
    <select id="selectCustomerPage" resultType="student">
        select s.*, t.teacher_name
        from student s
        join teacher t
        on s.tid=t.id
        where s.age&lt;#{age}
    </select>
</mapper>